body {
     margin: 0;
    font-family: system-ui, sans-serif;
    color: #0b1320;
    background: #f2f5fb;
    text-align: center;
}
main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    padding: 20px;
}
img {
  border: 5px solid #004aad; 
  padding: 1px;
  margin: 5px; 
  border-radius: 10px;
  transition: transform 0.3s;
  width: 100%; 
  height: auto; 
  display: block; 
}